MICROKIT_SDK=/home/zhewen/Documents/code/microkit/release/microkit-sdk-2.0.1-dev
MICROKIT_CONFIG=benchmark
CAKE_COMPILER=cake
PANCAKE_I2C=0
PANCAKE_BLK=0
PANCAKE_BLK_DRIVER=0
MICROKIT_BOARD=maaxboard
PANCAKE_NETWORK_DRIVER=0
PANCAKE_NETWORK_VIRT_TX=0
PANCAKE_NETWORK_VIRT_RX=0
PANCAKE_NETWORK_COPY=0
PANCAKE_SERIAL_DRIVER=0
PANCAKE_SERIAL_VIRT_TX=0
PANCAKE_SERIAL_VIRT_RX=0
PANCAKE_TIMER=0
