CompileFlags:
  Add:
    - "-I/Users/ablackmore/Work/ts/thesis-a/microkit-sdk-2.1.0/board/odroidc4/debug/include"
    - "-I/Users/ablackmore/Work/ts/thesis-a/sddf/include/microkit"
    - "-I/Users/ablackmore/Work/ts/thesis-a/sddf/include"
    - "-I/Users/ablackmore/Work/ts/thesis-a/sddf/drivers/serial/arm/include"
    - "-I/Users/ablackmore/Work/ts/thesis-a/sddf/examples/usb/tinyusb/src/class"
    - "-I/Users/ablackmore/Work/ts/thesis-a/sddf/examples/usb/tinyusb/src"
    - "-I/Users/ablackmore/Work/ts/thesis-a/sddf/examples/usb/tinyusb/src/portable/synopsys/dwc2"
    - "-I/Users/ablackmore/Work/ts/thesis-a/sddf/examples/usb/tinyusb/hw/mcu/broadcom"
    - "-I/Users/ablackmore/Work/ts/thesis-a/sddf/examples/usb"
    - "-I/Users/ablackmore/Work/ts/thesis-a/microkit-sdk-2.1.0/board/rpi4b_1gb/debug/include"
    - "-I/Users/ablackmore/work/ts/thesis-a/sddf/examples/virt-usb/tinyusb/src/portable/ehci"