# Copyright 2024, UNSW
# SPDX-License-Identifier: BSD-2-Clause

build/
*.zip
*.tar.gz
*.tar
*.o
*.elf
*.depend
.DS_Store
.vscode
*.P
*.d
ci_build/
ci_logs/
*.orig
*~
.#*
zig-out/
.zig-cache/
venv/
target/
Cargo.lock
__pycache__
.*.sw*
*.dtb
