# Copyright 2024, UNSW
#
# SPDX-License-Identifier: BSD-2-Clause

# Build and test example code

name: Examples

on:
  pull_request:
  push:
    branches: [ "main" ]

jobs:
  build_linux_x86_64:
    name: Linux x86-64
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Download Microkit SDK
        run: |
          wget https://github.com/seL4/microkit/releases/download/1.4.0/microkit-sdk-1.4.0-linux-x86-64.tar.gz
          tar xf microkit-sdk-1.4.0-linux-x86-64.tar.gz
      - name: Install dependencies (via apt)
        run: sudo apt update && sudo apt install -y make llvm lld
      - name: Download and install AArch64 GCC toolchain
        run: |
          wget -O aarch64-toolchain.tar.gz https://trustworthy.systems/Downloads/microkit/arm-gnu-toolchain-11.3.rel1-x86_64-aarch64-none-elf.tar.xz%3Frev%3D73ff9780c12348b1b6772a1f54ab4bb3
          tar xf aarch64-toolchain.tar.gz
          echo "$(pwd)/arm-gnu-toolchain-11.3.rel1-x86_64-aarch64-none-elf/bin" >> $GITHUB_PATH
      - name: Install Zig
        run: |
          wget https://ziglang.org/builds/zig-linux-x86_64-0.13.0.tar.xz
          tar xf zig-linux-x86_64-0.13.0.tar.xz
          echo "${PWD}/zig-linux-x86_64-0.13.0/:$PATH" >> $GITHUB_PATH
      - name: Build and run examples
        run: ./ci/examples.sh ${PWD}/microkit-sdk-1.4.0
        shell: bash
  build_macos_x86_64:
    name: macOS x86-64
    runs-on: macos-12
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Download Microkit SDK
        run: |
          wget https://github.com/seL4/microkit/releases/download/1.4.0/microkit-sdk-1.4.0-macos-x86-64.tar.gz
          tar xf microkit-sdk-1.4.0-macos-x86-64.tar.gz
      - name: Install dependencies (via Homebrew)
        run: |
          brew install llvm make
          echo "/usr/local/opt/llvm/bin:$PATH" >> $GITHUB_PATH
      - name: Install Zig
        run: |
          wget https://ziglang.org/builds/zig-macos-x86_64-0.13.0.tar.xz
          tar xf zig-macos-x86_64-0.13.0.tar.xz
          echo "${PWD}/zig-macos-x86_64-0.13.0/:$PATH" >> $GITHUB_PATH
      - name: Download and install AArch64 GCC toolchain
        run: |
          wget -O aarch64-toolchain.tar.gz https://trustworthy.systems/Downloads/microkit/arm-gnu-toolchain-11.3.rel1-darwin-x86_64-aarch64-none-elf.tar.xz%3Frev%3D51c39c753f8c4a54875b7c5dccfb84ef
          tar xf aarch64-toolchain.tar.gz
          echo "$(pwd)/arm-gnu-toolchain-11.3.rel1-darwin-x86_64-aarch64-none-elf/bin" >> $GITHUB_PATH
      - name: Build and run examples
        run: ./ci/examples.sh ${PWD}/microkit-sdk-1.4.0
        shell: bash
