# Copyright 2024, UNSW
#
# SPDX-License-Identifier: BSD-2-Clause

# Build and test example code

name: Examples

on:
  pull_request:
  push:
    branches: [ "main" ]

env:
  MICROKIT_VERSION: 2.0.0
  MICROKIT_URL: https://github.com/seL4/microkit/releases/download/2.0.0/microkit-sdk-2.0.0
  SDFGEN_VERSION: 0.22.0

jobs:
  build_linux_x86_64:
    name: Linux x86-64
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Download Microkit SDK
        run: |
          wget ${{ env.MICROKIT_URL }}-linux-x86-64.tar.gz
          tar xf microkit-sdk-${{ env.MICROKIT_VERSION }}-linux-x86-64.tar.gz
      - name: Install dependencies (via apt)
        run: sudo apt update && sudo apt install -y make llvm lld imagemagick device-tree-compiler
      - name: Download and install AArch64 GCC toolchain
        run: |
          wget -O aarch64-toolchain.tar.xz https://trustworthy.systems/Downloads/microkit/arm-gnu-toolchain-12.3.rel1-x86_64-aarch64-none-elf.tar.xz
          tar xf aarch64-toolchain.tar.xz
          echo "$(pwd)/arm-gnu-toolchain-12.3.rel1-x86_64-aarch64-none-elf/bin" >> $GITHUB_PATH
      - name: Install Zig
        uses: mlugg/setup-zig@v1.2.0
        with:
          version: master
      - name: Setup pyenv
        run: |
          python3 -m venv venv
          ./venv/bin/pip install --upgrade sdfgen==${{ env.SDFGEN_VERSION }}
      - name: Build and run examples
        run: ./ci/examples.sh ${PWD}/microkit-sdk-${{ env.MICROKIT_VERSION }}
        shell: bash
        env:
          PYTHON: ${{ github.workspace }}/venv/bin/python
  build_linux_x86_64_nix:
    name: Linux x86-64 (Nix)
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Nix
        uses: cachix/install-nix-action@v27
      - name: Build and run examples
        run: nix develop -c bash -c './ci/examples.sh $MICROKIT_SDK'
        shell: bash
  build_macos_arm64:
    name: macOS ARM64
    runs-on: macos-14
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Download Microkit SDK
        run: |
          wget ${{ env.MICROKIT_URL }}-macos-aarch64.tar.gz
          tar xf microkit-sdk-${{ env.MICROKIT_VERSION }}-macos-aarch64.tar.gz
      - name: Install dependencies (via Homebrew)
        run: |
          brew install llvm lld make imagemagick dtc
          echo "/opt/homebrew/opt/llvm/bin:$PATH" >> $GITHUB_PATH
      - name: Install Zig
        uses: mlugg/setup-zig@v1.2.0
        with:
          version: master
      - name: Download and install AArch64 GCC toolchain
        run: |
          wget -O aarch64-toolchain.tar.xz https://trustworthy.systems/Downloads/microkit/arm-gnu-toolchain-12.3.rel1-darwin-arm64-aarch64-none-elf.tar.xz
          tar xf aarch64-toolchain.tar.xz
          echo "$(pwd)/arm-gnu-toolchain-12.3.rel1-darwin-arm64-aarch64-none-elf/bin" >> $GITHUB_PATH
      - name: Setup pyenv
        run: |
          python3 -m venv venv
          ./venv/bin/pip install --upgrade sdfgen==${{ env.SDFGEN_VERSION }}
      - name: Build and run examples
        run: ./ci/examples.sh ${PWD}/microkit-sdk-${{ env.MICROKIT_VERSION }}
        shell: bash
        env:
          PYTHON: ${{ github.workspace }}/venv/bin/python
